.imagem {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.imagem img {
  max-width: 100%;
  height: auto;
}
.imagem p {
  margin-top: 10px;
  text-align: center;
}
